@import "../../styles/colors.scss";

.container{
  position: relative;
  margin: 2em;
  font-family: 'KyivSans';
  font-weight: 300;

  .lable {
    padding-bottom: 0.25em;
    font-size: 1em;
    color: #3c3c3c;
    cursor: pointer;
    border-bottom: 1px solid #3c3c3c;
    min-width: 10em;
    
    .title {
      color: $primaryColor;
      font-size: 0.75em;
    }
    
    .arrow {
      margin-top: 0.4em;
      margin-left: 0.4em;
      width: 5px;
      height: 5px;
      float: right;
      
      border-right: 2px solid #3c3c3c;
      border-bottom: 2px solid #3c3c3c;
      transform: rotate(45deg);
    }
  }
}

.lable:active + .list {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.list:hover   {
  visibility: visible;
  opacity: 1;
  transition: .5s ease-out;
}

.list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition-delay: 0.5s;
  width: 100%;
  margin-top: 0.5em;
  cursor: pointer;
  background-color: white;
  z-index: 100;

  .elem {
    min-width: 8em;
    width: 100%;
    padding: 0.25em 1em;
    
    font-size: 0.8em;
    color: #3c3c3c;

    // &:hover  {
    //   border-radius: 0.5em;
    //   background-color: $primaryColor;
    //   color: #fff;
    // }
  }
  
  .active {
    // padding: 0.25em 0;
    width: 90%;
    border-radius: 10px;
    background-color: $primaryColor;
    color: #fff;
  }

  .noActive {
    background-color: #f66;
  }

}
