@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
.root {
  margin: 0.8em;
}

.label {
  display: block;
  font-family: 'KyivSans';
  font-weight: 300;
  color: black;
  margin-bottom: 0.2em;
  padding-left: 0.2em;
}
.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #3c3c3c;
  font-weight: 300;
  font-family: 'KyivSans';
  padding: 0.4em;
  color: black;
  outline:none;
}
.input:focus{
  border-bottom: 1px solid $primaryColor;
  color: $primaryColor;
}
:hover::placeholder{
  opacity: 60%; transition: opacity 0.2s ease;
}



