@import "../../styles/colors.scss";
.root {
  margin: 0.8em;
}

.label {
  display: block;
  font-family: 'KyivSans';
  font-weight: 400;
  color: $primaryColor;
  margin-bottom: 0.5em;
}

.textarea{
  width: 40em;
  height: 20em;
  resize: none;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin: 0;
  font-family: 'KyivSans';
  font-weight: 300;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(169, 169, 169);
  border-image: initial;
  border-radius: 5px;
}

.markdown{
  border-width: 1px;
  border-style: solid;
  border-color: $primaryColor;
  min-height: 20em;
  color: $primaryColor;
  font-weight: 300;
}

.toolbar {
  background-color: $primaryColor!important;
}

.cell {
  background-color: $primaryColor!important;
  color: white;
}