@import 'src/styles/colors';

.modalBtn {
  width: 10em;
  margin: 2em auto;
  padding: 0 2em;

  display: block;
  box-shadow: 0 0 40px rgba(black, 0.3);
  background-color: #fff;
  color: $primaryColor;
  line-height: 2.75;

  &:hover {
    box-shadow: 0 0 5px rgba(black, 0.3);
  }
}

.popup {
  width: 25em;
  border-radius: 5px;

  p {
    margin: 5px 0;
  }

  header {
    h4, p {
      color: #fff;
      text-align: center;
    }
  }

  article {

    h4, p {
      color: #fff;
      display: table;
    }
      
    h4 {
      font-size: 1.5em;
      margin-top: 20px;
      padding-bottom: 0.5em;
      padding-right: 0.5em;
      border-bottom: 1px solid #fff;
    }     
  }
}

.category_values {
  max-height: 14em;
  overflow-y: scroll;
}