@import '../../styles/colors.scss';

.page {
  display: flex;

  .mapWrapper {
    height: 75vh;
    position: relative;
    width: 100%;
  }

  .withEditor {
    width: 65%;
    // float: left;
  }

  .searchingRow {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
    min-height: 6em;
    align-items: center;
    left: 3em;
    top: -0.5em;
    z-index: 1000;
  }

  .searchingInput {
    margin-bottom: 0;
  }
  .checkbox {
    position: absolute;
    display: flex;
    vertical-align: bottom;
    right: 0.5em;
    bottom: 2em;
    z-index: 1000;
    color: $primaryColor;
    font-weight: bold;
  }
}
