@import '../../styles/colors.scss';

img {
  height: 10.5em;
  width: 10.5em;
  border-radius: 1em;
  margin-left: 7em;
}
.user_info {
  width: 60%;
  margin: 1em 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile_page {
  display: flex;
}

