@import "../../styles/colors.scss";

.bg_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em 0;
  width: 27em;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  z-index: 10001;
}
.buttons{
  display: flex;
  justify-content: center;
  Button{
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 1.5em;
  }
}
.btnExit{
  background: $black;
  color:$secondaryColor;
}
.body {
  display: flex;
  flex-direction: column;
}


