// SANS
@font-face {
  font-family: 'KyivSans';
  src: url('../assets/fonts/KyivTypeSans-Thin.woff');
  font-stretch: normal;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'KyivSans';
  src: url('../assets/fonts/KyivTypeSans-Light.woff');
  font-stretch: normal;
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'KyivSans';
  src: url('../assets/fonts/KyivTypeSans-Regular.woff');
  font-stretch: normal;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KyivSans';
  src: url('../assets/fonts/KyivTypeSans-Heavy.woff');
  font-stretch: normal;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KyivSans';
  src: url('../assets/fonts/KyivTypeSans-Bold.woff');
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KyivSans';
  src: url('../assets/fonts/KyivTypeSans-Black.woff');
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
}


// SANS 2

@font-face {
  font-family: 'KyivSans2';
  src: url('../assets/fonts/KyivTypeSans-Thin.woff');
  font-stretch: normal;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'KyivSans2';
  src: url('../assets/fonts/KyivTypeSans-Light-.woff');
  font-stretch: normal;
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'KyivSans2';
  src: url('../assets/fonts/KyivTypeSans-Regular-.woff');
  font-stretch: normal;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KyivSans2';
  src: url('../assets/fonts/KyivTypeSans-Heavy-.woff');
  font-stretch: normal;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KyivSans2';
  src: url('../assets/fonts/KyivTypeSans-Bold-.woff');
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KyivSans2';
  src: url('../assets/fonts/KyivTypeSans-Black-.woff');
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
}

// SERIF


@font-face {
  font-family: 'KyivSerif';
  src: url('../assets/fonts/KyivTypeSerif-Thin.woff');
  font-stretch: normal;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'KyivSerif';
  src: url('../assets/fonts/KyivTypeSerif-Light.woff');
  font-stretch: normal;
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'KyivSerif';
  src: url('../assets/fonts/KyivTypeSerif-Regular.woff');
  font-stretch: normal;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'KyivSerif';
  src: url('../assets/fonts/KyivTypeSerif-Bold3.woff');
  font-stretch: normal;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KyivSerif';
  src: url('../assets/fonts/KyivTypeSerif-Heavy.woff');
  font-stretch: normal;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'KyivSerif';
  src: url('../assets/fonts/KyivTypeSerif-Black.woff');
  font-stretch: normal;
  font-weight: 600;
  font-style: normal;
}

// TITLE
@font-face {
  font-family: 'KyivSansTitle';
  src: url('../assets/fonts/KyivTypeTitling-Regular.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'KyivSansTitle';
  src: url('../assets/fonts/KyivTypeTitling-Bold.woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'KyivSansTitle';
  src: url('../assets/fonts/KyivTypeTitling-Heavy2.woff2');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'KyivSansTitle';
  src: url('../assets/fonts/KyivTypeTitling-Black3.woff');
  font-weight: 600;
  font-style: normal;

}
