@import '../../styles/colors.scss';
@import "../../styles/colors.scss";

.typography {
  margin: 0;
}

.h1 {
  font-size: 5em;
  font-family: 'KyivSans';
  font-weight: 300;
  line-height: 1.167;
  letter-spacing: -0.01562em;
  color: $primaryColor;
}

.h2 {
  font-size: 3.25em;
  font-family: 'KyivSans';
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.00833em;
  color: $primaryColor;
}

.h3 {
  font-size: 2.75em;
  font-family: 'KyivSans';
  font-weight: 300;
  line-height: 1.167;
  letter-spacing: 0;
  color: $primaryColor;
}

.h4 {
  font-size: 1.75em;
  font-family: 'KyivSans';
  font-weight: 400;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  color: $primaryColor;
}

.h5 {
  font-size: 1.25em;
  font-family: 'KyivSans';
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0;
  color: $primaryColor;
}

.h6 {
  font-size: 1.15em;
  font-family: 'KyivSans';
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  color: $primaryColor;
}

.p {
  font-size: 1em;
  font-family: 'KyivSans';
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0;
}
