@import '../../styles/colors.scss';

.registration_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    margin: 1em 0;
  }
  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.registration_complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5em;
  .text {
    padding: 0.5em;
  }
}
