@import '../../styles/colors.scss';

.sheet {
  padding: 1em 3em;
  font-family: 'KyivSans';
  font-weight: 400;

  .title {
    color: $primaryColor;
    text-align: center;
    font-family: 'KyivSans';
    font-weight: 500;
  }

  .subtitle {
    color: $primaryColor;
    font-weight: 300;
  }

  .input {
    border-radius: 4px;
    border: none;
    background-color: red;
    padding: 0.2em;
  }

  .customButton {
    background-color: #ffb3ff;
    color: #660066;
    border: 1px solid #660066;
    width: 9em;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
    min-height: 5em;
    align-items: center;
  }
}
