@import '../../../styles/colors.scss';

.tabSelector {
  margin: 1em 0;
  background-color: $primaryColor;
  display: flex;
  align-items: center;
  padding: 0 0.3em;

  .icon {
    font-size: 3em;
    color: white;
    display: none;
    margin: 0 0.2em;
  }

  .visible {
    display: block;
  }

  .tabsWrapper {
    overflow: auto;
    white-space: nowrap;

    .tabItem {
      font-size: 0.8em;
      font-family: 'KyivSans';
      font-weight: 300;
      display: inline;
      margin: 1em 0.3em;
      padding: 1em;
      background-color: white;
      border: none;
      border-radius: 5px;
    }
  }

  .seletedItem {
    text-decoration: underline;
  }
}


.skeleton {
  width: 60%;
  margin-top: 1em;

  .skeletonItem {
    margin-bottom: 1em;
  }
}

.displayCategories {
  
}

.table, th {
  border: 3px solid $primaryColor;
}

.tbody, thead, th {
  width: 20em;
  height: 2.5em;
}

.categoriesTable {
  margin-top: 0.5em;
  width: 32em;
  border-collapse: collapse;
}

.mainCell {
  color: white;
  background: $primaryColor;;
}

.categoryValue {
  font-weight: 300;
}