@import "../../styles/colors.scss";

.SubNav {
  margin: 105px auto;
  font-family: "KyivSans2";
  font-style: normal;
  font-weight: 600;
  color: $black;
  
  .grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 2em;
    justify-content: center;

    .block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 5rem;
      margin-bottom: 1em;
      flex-wrap: wrap;
      span {
        margin: 0 1em;
      }

      .box1 {
        font-size: 2rem;
      }

      
    }
    .text {
      justify-self: flex-end;
    }
  }

}
//   .gridBOX {
//     display: grid;
//       grid-template-columns: 1fr 1fr 1fr 1fr;

//     .box1{
//       font-size: 3em;
//     }
//     .center {
//       text-align: center;
//     }
//     span {
//       margin: 1em 0;
//       font-size: 7em;
//     }
    
//     .logo_text {
//       color: $primaryColor;
//     }

//     div {
//       position: relative;
//       .text {
//         position: absolute;
//         bottom: 0;
//         padding-right: 10px;
        
//         color: $primaryColor;
//         border-bottom: 3px solid $primaryColor;
//       }
//     }
//   }
// }
//   .btn_scrollDown {
//     width: 30px;
//     height: 30px;

//     margin: 52px auto;

//     border-right: 3px solid $primaryColor;
//     border-bottom: 3px solid $primaryColor;
//     transform: rotate(45deg);
//   }
