@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.checkbox {
  position: relative;
  font-family: 'KyivSans';
  font-weight: 300;
}
.checkbox input {
  position: absolute;
  z-index: 0;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox input + label {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
}
.checkbox input + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #cdd1da;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.checkbox input + label:after {
  opacity: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  width: 5px;
  height: 10px;
  border-radius: 2px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.2s;
}
.checkbox input:checked + label:before {
  background: $primaryColor;
}
.checkbox input:checked + label:after {
  opacity: 1;
}
.checkbox input:hover + label:before {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2),
    0 0 0 2px rgba(18, 44, 134, 0.7);
}
