@import '../../styles/colors.scss';

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  .menu {
    flex-grow: 1;
    max-width: 300px;
    min-width: 200px;

    .menuList {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .menuElement {
        cursor: pointer;
        margin: 0.5em;
        padding: 1em 1.5em;
        background-color: $primaryColor;
        color: $secondaryColor;
        display: flex;
        justify-content: center;
        border-radius: 5px;

        .elementContent {
          width: 5.5em;
        }
        .menuIcon {
          margin-right: 0.5em;
        }
      }
    }
  }
  .content {
    flex-grow: 4;
    // display: flex;
  }
}


 * .builderElement, .builderElement  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px !important;
    padding: 2em;
    
    flex-grow: 1;
    // min-height: 5em;
    margin: 3em;
    margin-top: 0;
    color: $secondaryColor;
    background-color: $primaryColor;

    svg {
      margin: 0 0.2em;
      font-size: 1.2em;
    }

    .title {
      color: $secondaryColor;
      margin: 0 0.4em;
      display: inline-flex;

      &_invert {
        color: $primaryColor;
      }
    }

    .input {
      display: inline-flex;
    }

    .activeIcon {
      cursor: pointer;
      &_edit {
        font-size: 1em !important;
      }
    }

    .plusIcon {
      margin-top: 0.5em;
    }


    .editValue {
      display: flex;
      align-items: center;
      
      div {
        margin: 0
      }
    }

    .children {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    .children > div {
      margin: 2em;
    }

    

    &_invert {
      color: $primaryColor;
      background-color: $secondaryColor;
    }

   
  }

  .selected {
    background-color: #6d9ff1!important;
  }

.builderChildren {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.builderChildren > * {
  margin-top: 1em;
}
