@import "../../styles/colors.scss";

.container {
	background-color: $primaryColor;

	.box {
		padding: 190px 0;
		display: flex;
			justify-content: center;
		.img {
			width: 40%;
			height: 593px;
			margin: 0 5%;
			
			background: url(./../../img/aboutUs_img.png) no-repeat center;
				float: left;
			}
			
		.info {
			width: 50%;
			float: left;
			
			.title {
				font: 500 96px/117px monospace;
				color: #fff;
				
				margin-bottom: 40px;
			}
			
			.border {
				border-bottom: 3px solid #fff;
			}

			.text {
				max-width: 674px;
				margin-bottom: 20px;

				font: 26px/32px monospace;
					color: #FFFFFF;
			}
		}
	}
}
  