@import '../../../styles/colors';

.toolbar {
  z-index: 401;
  position: absolute;
  margin-top: 35vh;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
  margin-left: 10px;

  a {
    display: block;
    padding-top: 0.2em;
    padding: 0.3em;
    width: 1.55em;
    height: 1.35em;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: $primaryColor;
    font: bold 15px 'Lucida Console', Monaco, monospace;

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}