@import './src/styles/colors.scss';

.words {
  .title {
    width: 400px;
    padding: 45px 80px;

    font: bold 32px/42px sans-serif;
    color: #3c3c3c;

    .title--border {
      border-bottom: 3px solid #3c3c3c;
    }
  }

  .gridBox {
    padding: 0 100px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    .elem {
      margin: 20px 0;

      font: 1.25em sans-serif;
      color: $primaryColor;
      cursor: pointer;
      &:nth-child(odd) {
        text-align: center;
      }
    }
  }
}
