@import '../../styles/colors.scss';

.editor {
  overflow: scroll;
  width: 40%;
  position: relative;

  .body {
    margin: 0 2em;
  }

  background-color: $primaryColor;
  height: 75vh;

  .submit {
    width: 100%;
    margin: 0;
    position: sticky;
    bottom: 0;
    border-radius: 0;
    border: none;
    padding: 1em 0;
    font-family: 'KyivSans';
    color: $primaryColor;
    font-size: 1em;
    // border-bottom: 1px solid $primaryColor;
    // border-top: 1px solid $primaryColor;

  }

  .header {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: white !important;

    .title {
      color: white !important;
    }

    .icon {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .category {
    border-bottom: 1px solid white;
    padding-bottom: 2em;
    margin-bottom: 1em;
  }

  .dropDown {
    margin: 0;
    margin-top: 1rem;
    max-width: 15rem;

    &_label {
      border-bottom: 1px solid white;
    }
    .arrow {
      border-right: 2px solid white;
      border-bottom: 2px solid white;
    }
  }

  .input {
    margin: 0;
    margin-top: 1rem;
    max-width: 15rem;


    .field {
      background-color: $primaryColor;
      border: 1px solid white;
      color: white;
    }
  }

  .checkbox {
    margin: 0;
    margin-top: 1rem;
    max-width: 15rem;
  }


  .textArea {
    &_root {
      margin: 0;
      margin-top: 1rem;
    }
    &_markdown {
      color: white!important;
      border-color: white!important;
    }

    &_toolbar {
      border-color: transparent;
      border-bottom-color: white;
      color: $primaryColor;
    }
  }

  .whiteRegular,
  .dropDown_label,
  .title1,
  .title2,
  .checkbox,
  .textArea_label,
  .title3 {
    font-weight: 300;
    color: white !important;
  }

  .title1 {
    font-size: 1.5rem;
    margin: 1em 0;
  }

  .title2 {
    font-size: 1.4rem;
    margin: 1em 0;
  }

  .title3 {
    font-size: 1.3rem;
    margin: 1em 0;
  }
}
