@import './styles/fonts.scss';
$main-color: #34558B; 

* {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4 {
  font-family: 'KyivSerif';
}

html {
  height:100%;
  font-family: 'KyivSans';
}

body {
  min-height:100%;
}
