@import 'src/styles/colors';

.leaflet-popup-content-wrapper {
  border-radius: 0.5em !important;
  background-color: $primaryColor;
}

.leaflet-popup-close-button {
  color: #fff !important;
  padding: 15px 15px 0 0 !important;
  font-size: 1.5em !important;
}

.leaflet-popup-tip {
  background-color: $primaryColor;
}