@import '../../styles/colors.scss';

.nav {
  max-width: 1454px;
  margin: 54px auto;

  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'KyivSans';
  font-weight: 300;

  .nav_logo {
    width: 47px;
    height: 45px;
    padding-bottom: 5px;

    border-bottom: 3px solid $primaryColor;
    color: $primaryColor;
    position: absolute;
    left: 0;
  }

  .logo_w {
    border-color: #fff;
  }
  .logo_b {
    border-color: $primaryColor;
  }

  @mixin active_color($color) {
    height: 25px;
    color: $color!important;
    border-bottom: 3px solid $color;
  }

  .active_w {
    @include active_color(#fff);
  }
  a,
  a:visited {
    margin-right: 72px;
    padding-right: 10px;
		text-decoration: none;
		color: $black;

    cursor: pointer;
    // font: 300 20px/24px monospace;
    font-family: 'KyivSans';
    text-transform: uppercase;
	}
	
  .active {
		@include active_color($primaryColor);
		font-weight: bold;
  }
}
